body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333366;
    font-size: 36px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #333366;
    border: none;
}

.btn-primary:hover {
    background-color: #666699;
}
